@import "src/styles/variables";

.custom-button {
  height: 50px;
  width: 100%;

  border: 0;
  border-radius: 5px;

  background-color: $primary-deep-blue-color;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: $primary-white-color;

  &:hover {
    cursor: pointer;
  }
}
