.ticket-list {
  &__logo-container {
    display: flex;
    justify-content: center;
    padding: 29px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 232px 502px;
    column-gap: 20px;

    padding-bottom: 50px;
  }

  &__right-side > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
