@import "src/styles/variables";

.ticket-sort-type-picker {
  overflow: hidden;

  border-radius: 5px;
  border: 1px solid $primary-light-gray-border-color;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__option {
    background-color: $primary-white-color;

    height: 50px;

    border: 0;

    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $primary-font-color;

    &:not(:last-child) {
      border-right: 1px solid $primary-light-gray-border-color;
    }

    &:hover {
      cursor: pointer;
    }

    &--selected {
      background-color: $primary-deep-blue-color;

      color: $primary-white-color;
    }
  }
}
