@import "src/styles/variables";

.checkbox {
  display: flex;
  position: relative;

  padding: 10px 20px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: $primary-blue-hover-color;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked + .checkbox__mark {
      border: 1px solid $primary-deep-blue-color;

      & > svg {
        display: block;
        top: 6px;
        left: 3px;
      }
    }
  }

  &__mark {
    height: 20px;
    width: 20px;

    display: inline-block;

    margin-right: 10px;

    border-radius: 2px;
    border: 1px solid $primary-control-border-color;

    position: relative;

    & > svg {
      display: none;

      position: absolute;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: $primary-font-color;
  }
}
