@import "src/styles/variables";

.ticket-card {
  border-radius: 5px;

  background: $primary-white-color;
  box-shadow: 0 2px 8px rgba($primary-black-color, 0.1);

  padding: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  &__title {
    flex: 1 0 auto;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    color: $primary-deep-blue-color;
  }

  &__company-logo {
    max-height: 36px;
  }

  &__content {
    display: flex;
    flex-flow: column;
  }

  &__content-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & > div {
      display: flex;
      flex-flow: column;
    }
  }

  &__content-item-label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: $primary-secondary-text-color;
    text-transform: uppercase;
  }

  &__content-item-description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $primary-font-color;
  }
}
